@font-face {
    font-family: "Golos_Regular";
    src: url("/Fonts/Golos-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Golos_DemiBold";
    src: url("/Fonts/Golos-DemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Golos_Bold";
    src: url("/Fonts/Golos-Bold.woff2") format("woff2");
}

@import "tailwindcss";

@theme {
    --font-GolosRegular: "Golos_Regular", "sans-serif";
    --font-GolosDemiBold: "Golos_DemiBold", "sans-serif";
    --font-GolosBold: "Golos_Bold", "sans-serif";
}

.philosophy {
    background-image: url('/Images/philosophy-min.jpeg');
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* cart scrollbar */
.cart-main::-webkit-scrollbar {
    width: 2px;
    border-radius: 100px;
    overflow: hidden;
}

.cart-main::-webkit-scrollbar-track {
    background: transparent;
}

.cart-main::-webkit-scrollbar-thumb {
    background: #a1a1a1;
}

/* swiper */
.HomeSlider .swiper.swiper-initialized {
    height: 44vw !important;
}

.swiper-button-next {
    color: black !important;
    margin-right: 3vw;
    padding: 2vw;
    transition: all ease-in-out 0.3s;
}

.swiper-button-next:hover {
    margin-right: 2vw !important;
}


.swiper-button-prev {
    display: none !important;
}

:root {
    --swiper-navigation-size: 2.6vw !important;
}

.card:nth-child(3n+2) {
    margin-top: 1.6vw;
    /* background-color: red; */
}

.cart-card:nth-child(2n+2) .cart-image {
    border-radius: 1.5vw;
}

.card:nth-child(2n+2) .card-image {
    border-radius: 4vw;
}

@media (max-width: 640px) {
    .HomeSlider .swiper.swiper-initialized {
        height: 90vw !important;
    }

    :root {
        --swiper-navigation-size: 28px !important;
    }

    .swiper-button-next:hover {
        margin-right: 0 !important;
    }

    .card:nth-child(3n+1),
    .card:nth-child(3n+2),
    .card:nth-child(3n+3) {
        margin-top: 0vw;
    }

    .cart-card:nth-child(2n+2) .cart-image {
        border-radius: 16px
    }

    .card:nth-child(2n+2) .card-image {
        border-radius: 40px;
    }
}